.navbar_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}


.site-logo {
    font-size: 1.3rem;
    font-weight: 600;
}

.navigation li {
    display: inline-block;
    margin: 0 .8rem;
}

.profile-img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    color: var(--light-four);
    border-radius: 50%;
}